/* custom CSS styles */

body { 
		font-family:'lucida grande', tahoma, verdana, arial, sans-serif;
		color: #787878;
}

h1 {
	font-family: Tahoma, Geneva, sans-serif;
}

h2 {
	color: #F3954F; /* orange */
	font-size: 30px;
}

h3 {
	color: #F3954F; /* orange */
	font-size: 20px;
}

h4 {
	font-size: 16px;
	color: #787878;
	font-weight: bold;
}

label, input {
	display: inline;
}

label {
	color: #787878;
	
}

/* right side lables on bound.html page */
 .input-group-label-right {
 	border-right: 1px solid #cacaca;
 	border-top: 1px solid #cacaca;
 	border-bottom: 1px solid #cacaca;
 	background-color: transparent;
 }

.input-group input {
	text-align: center;
	border-right: 0px;
	box-shadow: none;
}


[type=text] {
	display: inline;
}

table {
	border: 0px;
	
	font-size: 15px
}

select#selection {
	width: 100px;
}


a:hover { text-decoration: underline; }
			
/* Table styling */
table.testgrid { 
		border-collapse: collapse; 
		border: 1px solid #CCB; 
		width: 100%; 
}

table.testgrid td, table.testgrid th { 
	padding: 5px; 
	border: 5px solid #E0E0E0; 
}

table.testgrid th { 
	background: #E5E5E5; 
	text-align: center; 
}

input.invalid { 
	background: red; 
	color: #FDFDFD; 
}

/* divs and paragraphs that are initially  hidden */

.callout.success { 
	display: none;
	background-color: #f6f2eb;
}

.callout {
	border: 1px solid hsla(0,0%,4%,.1);
}

/* topbar*/
.top-bar, .top-bar ul, .top-bar a {
	
	font-weight: bold;
}


/* header */
.callout.primary {
	background-color: #EF7C28;
	color: #f6f2eb;

}

/* footer */
.callout.secondary { 
	background-color: #f2f2f2;
	color: #787878;
}

footer .callout.secondary {
	margin: 0 0 0;
}

/* gray */

.callout.success {
	/*background-color: #f2f2f2;*/
}


